<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<appSettings>
		<add key="MasterUsername" value="admin"/>
		<add key="MasterPassword" value="$MYHASH$V1$10000$eFkVa8cO7sLHdnkdDzomWVIIbWqnlKDJiwNeAfcI6UTBQVju"/>
		<add key="DatabasePath" value="C:\Users\cmwoodbury19\source\repos\CS390-WritingCenter\CS390-WritingCenter\WritingCenterForms\Data\Responses.csv"/>
		<add key="SettingsPath" value=""/>
	</appSettings>
	<connectionStrings>
		<add name="ScheduleCSV" connectionString="" />
		<add name="DatabaseCSV" connectionString="C:\Users\cmwoodbury19\source\repos\CS390-WritingCenter\CS390-WritingCenter\WritingCenterForms\Data\Responses.csv" />
		<add name="SettingsBin" connectionString="" />
	</connectionStrings>
</configuration>