<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<appSettings>
		<add key="MasterUsername" value="admin"/>
		<add key="MasterPassword" value="$MYHASH$V1$10000$eFkVa8cO7sLHdnkdDzomWVIIbWqnlKDJiwNeAfcI6UTBQVju"/>
	</appSettings>
	<connectionStrings>
		<add name="ScheduleCSV" connectionString="unset" />
		<add name="DatabaseCSV" connectionString="unset" />
		<add name="SettingsBin" connectionString="" />
	</connectionStrings>
</configuration>